/*
easy:         #8FEC7C
medium:       #EDE87E
hard:         #ED8D7E
color-dark:   #666A86
color-light:  #788AA3
color-white:  #F2F5FF
*/

.card {
  border-radius: 18px;
  background-color: #666a86;
  padding: 8px;
}

.button {
  border-radius: 40px;
  cursor: pointer;
}

.diff0 {
  background-color: #8fec7c;
}

.diff1 {
  background-color: #ede87e;
}

.diff2 {
  background-color: #ed8d7e;
}
