@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  display: flexbox;
  flex-direction: column;
  background-color: #788aa3;
  background-size: cover;
  width: 80vw;
  height: 100vh;
  text-align: center;
  margin: 0px auto;
}
